authlib==0.14.3
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
h11==0.9.0
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
jinja2==2.11.3
markupsafe==1.1.1
pycparser==2.20
pydantic==1.8.1
python-dotenv==0.17.0
starlette==0.14.2
starlette-authlib==0.1.7
typing-extensions==3.7.4.3
uvicorn==0.11.8
uvloop==0.15.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
websockets==8.1
